# generic aliases.
alias edit-alias="nano ~/.aliases"
alias reload-alias="source ~/.zshrc"
alias pub="cat ~/.ssh/id_ed25519.pub"
alias shutdown="systemctl poweroff"
alias matrix="cmatrix"
alias cat="bat"
alias fetch="neofetch"
alias pdf="zathura"
alias mixer="ncpamixer"
alias ls="ls -la"

# helpers.
alias remove-orphans="pacman -Qtdq | sudo pacman -Rns -"

# code shortcuts.
alias devlsh="code ~/sites/devlsh && exit"
alias evilkiwi="code ~/sites/evilkiwi && exit"
alias dotfiles="code ~/sites/dotfiles && exit"
alias teris="code ~/sites/teris && exit"
